{% load static %}
{% include 'admin/navbar.html' %}
    <div class="content">
        <!-- Main content goes here -->
        <h3 style="color:#999">Tambah Data </h3>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %} 
				<input type="text" name="judul" placeholder="Judul Berita">
				<textarea name="berita" placeholder="Isi Berita"></textarea>
				<select name="kategori">
					<option value=""> -- Pilih Kategori -- </option>
					<option value="feeling"> Feeling </option>
					<option value="random"> Random </option>
					<option value="anime"> Anime </option>
					<option value="ittp"> ITTP </option>
				</select>
				<input type="file" name="gambar"> 
				<input type="submit" name="submit" value="Simpan">
			</form>
    </div>
</body>

</html>
