{% load static %}
{% include 'admin/navbar.html' %}
    <div class="content">
        <!-- Main content goes here -->
        <h3 style="color:#999">Data Berita </h3>
			<table>
			<tr>
				<th>No</th>
				<th>Judul</th>
				<th>Isi Berita</th>
				<th>Gambar</th>
				<th>Kategori</th>
				<th>Tanggal</th>
				<th>Aksi</th>
			</tr>
			{% for r in data  %}
			<tr>
				<td>{{ r.id }}</td>
				<td>{{ r.judul }}</td>
				<td>{{ r.berita }}</td>
				<td><img src="assets/{{r.gambar}}" width="200"></td>
				<td>{{ r.kategori }}</td>
				<td></td>
				<td width="100">
					<a href="ubahdata/{{r.id}}">Ubah </a> 
					<a href="hapusdata/{{r.id}}">hapus </a>
				</td>
			</tr>
			{% endfor %}
			</table>
    </div>
</body>

</html>
