{% load static %}
{% include 'header.html' %}

    <!-- Content Start-->
    <div class="container-fluid text-left bg-body-secondary bg-opacity-50" style="min-height: 500px;">
        <div class="row">
            <div class="fs-1">{{kategori}}</div>

            {% for r in data %}
            <div class="col-lg-4-col-md-12">
                <img src="assets/{{r.gambar}}" class="img-thumbnail">
                <a href ="detail/{{r.id}}"> <h6>{{r.judul}}</h6></a>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--Content Finish-->

    <!-- Iklan Start-->

    {% include 'iklan.html' %}
    <!-- Iklan Finish-->

{% include 'footer.html' %}