{% include 'header.html' %}

<!-- Detail Start -->
	<div class="container-fluid px-5" style="min-height:450px;">
    {% for r in data  %}
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <img src="../assets/{{ r.gambar }}"  class="img-thumbnail">
          </div>
          <div class="col-lg-8 col-md-12">
            <div class="fs-1">{{ r.judul }}</div>
            {{ r.comedy }} </div>
        </div>
      {% endfor %}
      </div>
    

{% include 'footer.html' %}