
<footer>
  <div class="gap-8 px-8 py-12 mx-auto md:flex md:items-center md:justify-between md:px-12 lg:px-32 max-w-7xl">
    <div class="md:order-1" x-data="{ year: new Date().getFullYear() }">
      <span class="text-sm font-medium text-gray-500">
        Copyright © <span x-text="year">Telcomedy 2024</span>
        <a aria-label="Footer" class="mx-2 text-blue-500 hover:text-gray-500" href="gaydar@jimil.com">contact@telcomedy.or.id</a>
        Since 2024
      </span>
    </div>
  </div>
</footer>
