{% load static %}
<!doctype html>

<html>

    <head>
        <title>ONE PIECE NEWS</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <script type="text/javascript" src="assets/"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>

        <style>
          .detail {display: none;}
          .selengkapnya {cursor:pointer; color: brown;}
          .hide {cursor:pointer; color: brown;}

        </style>
    </head>

    <body>  
<!--
// v0 by Vercel.
// https://v0.dev/t/ijnTOCKC8KQ
-->

<div class="">
  <header class="sticky top-0 flex h-16 items-center gap-4 border-b bg-background px-4 md:px-6">
    <nav class="hidden flex-col gap-6 text-lg font-medium md:flex md:flex-row md:items-center md:gap-5 md:text-sm lg:gap-6">
      <a class="flex items-center gap-2 text-lg font-semibold md:text-base" href="{% url 'index' %}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="h-6 w-6"
        >
          <path d="M3 9h18v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9Z"></path>
          <path d="m3 9 2.45-4.9A2 2 0 0 1 7.24 3h9.52a2 2 0 0 1 1.8 1.1L21 9"></path>
          <path d="M12 3v6"></path>
        </svg>
        <span class="sr-only">Acme Inc</span>
      </a>
      <a class="text-muted-foreground transition-colors hover:text-foreground" href="{% url 'feeling' %}">
        Feeling
      </a>
      <a class="text-muted-foreground transition-colors hover:text-foreground" href="{% url 'ittp' %}">
        ITTP
      </a>
      <a class="text-muted-foreground transition-colors hover:text-foreground" href="{% url 'anime' %}">
        Anime
      </a>
      <a class="text-muted-foreground transition-colors hover:text-foreground" href="{% url 'random' %}">
        Random
      </a>
    </nav>

  </header>
</div>          

    </body>