{% block content %}
{% load static %}

{% include 'header.html' %}

        <!-- Content Start-->
        <div class="container-fluid mt-8 text-center" style="min-height:300px;">
            <div class="row">
              <div class="col-lg-3 g-col-md-12">
                <img src="/static/assets/images/Eps 1097.jpg" alt="EPS 1097" class="img-fluid">
                <p class="fw-semibold">"Episode 1097: The Will of Ohara! The Inherited Research" <br></p>

                   <span class="selengkapnya" data-target="detail-1">More info  >></span>
                   <span class="detail" id="detail-1"><p class="fst-italic">Shaka tells Sanji's group about how the giants saved Ohara's books 22 years ago when Dr. Vegapunk met up with Dragon. He also confirms to Robin the identity of their leader. At the scrapyard, Bonney attempts to kill Vegapunk. Meanwhile, a masked assassin approaches Egghead.</p>
                    <span class="hide" data-target="detail-1">Hide</span>
                  </span>

              </div>
              <div class="col-lg-6 g-col-md-12 "style="min-height: 500px;">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                      <img src="/static/assets/images/Chapter_1110.webp" class="d-block w-100" alt="Chapter 1110: Starfall">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                      <img src="/static/assets/images/Chapter_1109.webp" class="d-block w-100" alt="Chapter 1109: Interception">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                      <img src="/static/assets/images/Chapter_1108.webp" class="d-block w-100" alt="Chapter 1108: Come In, World">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
              <div class="col-lg-3 g-col-md-12">
                <img src="/static/assets/images/Vegapunk.webp" class="img-fluid">
                <p class="fw-semibold">"Dr. Vegapunk" <br></p>

                   <span class="selengkapnya" data-target="detail-2">More info  >></span>
                   <span class="detail" id="detail-2"><p class="fst-italic">Dr. Vegapunk was the leading scientist of the SSG in the employment of the Marines. His work included discovering the secrets and uses of seastone, the secrets of how Devil Fruit powers work, the co-discovery of the Lineage Factor and its applications, the creation of the Pacifista and Seraphim, and various other scientific achievements that are said to be at least 500 years ahead of current technology.[10][11] He hailed from the technologically advanced Karakuri Island and resided on Egghead, where his laboratory is located.
                       <span class="hide" data-target="detail-2">Hide</span>
                   </span>
              </div>
            </div>
          </div>
        <!--Content Finish-->

        <!-- Iklan Start-->
        <div class="d-flex">
          <img src="/static/assets/images/Iklan1.jpg" alt="iklan1" width="500px" height="auto" class="img-thumbnail mb-3">
          <img src="/static/assets/images/Iklan2.jpg" alt="iklan2" width="500px" height="auto" class="img-thumbnail mb-3">
          <img src="/static/assets/images/Iklan3.jpg" alt="iklan3" width="500px" height="auto" class="img-thumbnail mb-3">
          <img src="/static/assets/images/Iklan4.jpg" alt="iklan4" width="500px" height="auto" class="img-thumbnail mb-3">
        </div>
        <!-- Iklan Finish-->

{% include 'footer.html' %}
{% endblock %}