<div class="container-fluid text-center bg-success-subtle ">
    <div class="row">
      <div class="col">
        <img src="/static/assets/images/Iklan1.jpg" alt="iklan1" width="300px" height="auto" class="img-thumbnail">
      </div>
      <div class="col">
        <img src="/static/assets/images/Iklan2.jpg" alt="iklan2" width="300px" height="auto" class="img-thumbnail">
      </div>
      <div class="col">
        <img src="/static/assets/images/Iklan3.jpg" alt="iklan3" width="auto" height="300px" class="img-thumbnail">
      </div>
      <div class="col">
        <img src="/static/assets/images/Iklan4.jpg" alt="iklan4" width="300px" height="auto" class="img-thumbnail">
      </div>
    </div>
  </div>