
<section>
    <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl">
      <div class="text-center">
        <h1 class="text-4xl font-semibold tracking-tighter text-gray-900 lg:text-5xl">
          Meet Our Team
          <span class="block text-gray-600">Diverse. Skilled. United.</span>
        </h1>
        <p class="mt-4 text-base font-medium text-gray-500">
          A group of passionate individuals working together to innovate and excel
          in our industry.
        </p>
      </div>
      <ul role="list" class="grid gap-12 mt-12 lg:grid-cols-3">
        <li>
          <div class="space-y-4">
            <div class="aspect-[3/2] p-2 overflow-hidden border rounded-3xl">
              <img class="object-cover w-full h-full rounded-2xl" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80" alt="">
            </div>
            <div class="inline-flex items-start justify-between w-full">
              <div class="space-y-1">
                <h3 class="text-lg font-medium leading-6 text-black">
                  Michael Andreuzza
                </h3>
                <p class="text-base text-gray-500">Creator of Windstatic.com</p>
              </div>
              <div>
                <ul role="list" class="flex space-x-5">
                  <li>
                    <a href="#_" class="text-gray-400 hover:text-gray-500">
                      <ion-icon name="logo-dribbble" role="img" class="md hydrated" aria-label="logo dribbble"></ion-icon>
                    </a>
                  </li>
                  <li>
                    <a href="#_" class="text-gray-400 hover:text-gray-500">
                      <span class="sr-only"> Twitter </span>
                      <ion-icon name="logo-twitter" role="img" class="md hydrated" aria-label="logo twitter"></ion-icon>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <div class="aspect-[3/2] p-2 overflow-hidden border rounded-3xl">
              <img class="object-cover w-full h-full rounded-2xl" src="https://images.unsplash.com/photo-1602434228300-a645bce6891b?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1639&amp;q=80" alt="">
            </div>
            <div class="inline-flex items-start justify-between w-full">
              <div class="space-y-1">
                <h3 class="text-lg font-medium leading-6 text-black">
                  Melonia Tusk
                </h3>
                <p class="text-base text-gray-500">Founder of Fesla</p>
              </div>
              <div>
                <ul role="list" class="flex space-x-5">
                  <li>
                    <a href="#_" class="text-gray-400 hover:text-gray-500">
                      <ion-icon name="logo-dribbble" role="img" class="md hydrated" aria-label="logo dribbble"></ion-icon>
                    </a>
                  </li>
                  <li>
                    <a href="#_" class="text-gray-400 hover:text-gray-500">
                      <span class="sr-only"> Twitter </span>
                      <ion-icon name="logo-twitter" role="img" class="md hydrated" aria-label="logo twitter"></ion-icon>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="space-y-4">
            <div class="aspect-[3/2] p-2 overflow-hidden border rounded-3xl">
              <img class="object-cover w-full h-full rounded-2xl" src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2073&amp;q=80" alt="">
            </div>
            <div class="inline-flex items-start justify-between w-full">
              <div class="space-y-1">
                <h3 class="text-lg font-medium leading-6 text-black">
                  Michael Andreuzza
                </h3>
                <p class="text-base text-gray-500">
                  Director at Pettersson Industries
                </p>
              </div>
              <div>
                <ul role="list" class="flex space-x-5">
                  <li>
                    <a href="#_" class="text-gray-400 hover:text-gray-500">
                      <ion-icon name="logo-dribbble" role="img" class="md hydrated" aria-label="logo dribbble"></ion-icon>
                    </a>
                  </li>
                  <li>
                    <a href="#_" class="text-gray-400 hover:text-gray-500">
                      <span class="sr-only"> Twitter </span>
                      <ion-icon name="logo-twitter" role="img" class="md hydrated" aria-label="logo twitter"></ion-icon>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
